In [1]:
#Loading all the important libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv ('/content/drive/MyDrive/RA/entity_activity_table_clusters.csv')
df

,HANDLE,SENT_AT_MONTH,TYPE,posts_total,active_users,lon,lat,mean_topic1,mean_topic2,mean_topic3,mean_topic4,mean_topic5,cluster_no
0,CUEKANAL,2020-04,Group,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CUEKANAL,2020-05,Group,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CUEKANAL,2020-06,Group,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CUEKANAL,2020-07,Group,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CUEKANAL,2020-08,Group,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6442,wahrheitstalk,2021-08,Group,0,0,7.456303,53.250209,NaN,NaN,NaN,NaN,NaN,NaN
6443,wahrheitstalk,2021-09,Group,1,1,7.456303,53.250209,0.032336,0.809493,0.092884,0.054905,0.009628,3.0
6444,wahrheitstalk,2021-10,Group,6,3,7.456303,53.250209,NaN,NaN,NaN,NaN,NaN,NaN
6445,wahrheitstalk,2021-11,Group,0,0,7.456303,53.250209,NaN,NaN,NaN,NaN,NaN,NaN
6446,wahrheitstalk,2021-12,Group,0,0,7.456303,53.250209,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Listing down the unique dates in the dataset
lst_of_dates = list(df['SENT_AT_MONTH'].value_counts().index)
lst_of_dates

['2020-04',
 '2021-03',
 '2021-11',
 '2021-10',
 '2021-09',
 '2021-08',
 '2021-07',
 '2021-06',
 '2021-05',
 '2021-04',
 '2021-02',
 '2020-05',
 '2021-01',
 '2020-12',
 '2020-11',
 '2020-10',
 '2020-09',
 '2020-08',
 '2020-07',
 '2020-06',
 '2021-12']

In [5]:

#Created a for loop where the topical data is assigned to every date of the month
#Handle is the index of the dataframe
for date in lst_of_dates:
  temp_df = df[['HANDLE','mean_topic1', 'mean_topic2', 'mean_topic3', 'mean_topic4','mean_topic5']].loc[df['SENT_AT_MONTH'] == date]
  temp_df.set_index('HANDLE', inplace = True)
  temp_df = temp_df.apply(pd.to_numeric)
  temp_df = temp_df.T
  corr_mat = temp_df.corr()
  corr_mat.fillna('NA', inplace = True)
  corr_mat.to_csv(date + '.csv')

In [6]:
corr_mat

HANDLE,CUEKANAL,Couch_Bodensee,Debattenraum_Hamburg,Denkverzicht711,441,861,Marc_Friedrich,MeinungenAnalysenKritikIdeen,NanaLifestyler,Q316ErfurtElternFuerEltern,...,querdenker6,querdenkerMG,querdenker_braucht_die_Welt,querdenkerbodenseeknkn753,querdenkerforum,299,querdenkn,querulm,sachsen01,wahrheitstalk
HANDLE,,,,,,,,,,,,,,,,,,,,,
CUEKANAL,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
Couch_Bodensee,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
Debattenraum_Hamburg,NA,NA,1.0,0.676725,0.64657,0.701268,NA,NA,NA,NA,...,0.739203,NA,0.748092,0.199689,0.89075,0.808672,NA,NA,NA,NA
Denkverzicht711,NA,NA,0.676725,1.0,0.562636,0.677211,NA,NA,NA,NA,...,0.1893,NA,0.576333,0.582993,0.553634,0.437963,NA,NA,NA,NA
441,NA,NA,0.64657,0.562636,1.0,0.840622,NA,NA,NA,NA,...,0.178776,NA,0.186605,0.791243,0.534035,0.398247,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,NA,NA,0.808672,0.437963,0.398247,0.726294,NA,NA,NA,NA,...,0.937192,NA,0.925917,-0.117676,0.983433,1.0,NA,NA,NA,NA
querdenkn,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
querulm,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
sachsen01,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
wahrheitstalk,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA